/* List */

.list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

/* List item */

.list > .list_item {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 8px;
  align-items: center;
  margin-left: 12px;
}

.list > * * > img {
  width: 20px;
}

.list > * *:last-child {
  line-height: var(--font-size);
}

/* Media */

@media screen and (max-width: 320px) {
  .list > .list_item {
    margin-left: 8px;
  }
}
