# macOS
**/.DS_Store

# Folders
**/node_modules/
**/src/node_modules/@sapper/
**/cypress/screenshots/
**/__sapper__/
**/build/
**/tmp/

# Logs
**/*.log
**/*.lock

# Lock files
**/package-lock.json

# Env
**/.env