@import "_fonts.css";

:root {
  /* Base color */
  --base-white: 0, 0%, 100%;
  --base-black: 0, 0%, 18%;
  --base-gray: 0, 0%, 88%;
  --base-red: 4, 94%, 69%;
  --base-green: 118, 69%, 38%;
  --base-blue: 208, 89%, 38%;
  /* Smoke colors */
  --smoke-white: hsla(0, 0%, 98%, 1);
  --smoke-gray: hsla(0, 0%, 68%, 1);
  /* Dark colors */
  --dark-red: hsla(4, 94%, 59%, 1);
  --dark-green: hsla(118, 69%, 28%, 1);
  --dark-blue: hsla(208, 89%, 28%, 1);
  /* Colors */
  --white: hsla(var(--base-white), 1);
  --gray: hsla(var(--base-gray), 1);
  --black: hsla(var(--base-black), 1);
  --red: hsla(var(--base-red), 1);
  --green: hsla(var(--base-green), 1);
  --blue: hsla(var(--base-blue), 1);
  /* Opacity colors */
  --opacity-black: hsla(var(--base-black), 0.8);
  --opacity-white: hsla(var(--base-white), 0.8);
  --opacity-red: hsla(var(--base-red), 0.8);
  --opacity-green: hsla(var(--base-green), 0.8);
  --opacity-blue: hsla(var(--base-blue), 0.8);
  /* Init element colors */
  color: var(--black);
  background-color: var(--smoke-white);
  /* Theme switcher, default: light */
  filter: invert(0%);
  /* Init font size */
  --font: 16px;
}

/* Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* General */

html,
body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: "Inter var", Helvetica, Arial, sans-serif;
  }
}

html,
body {
  font-size: var(--font);
  font-weight: 400;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Heading */

h1 {
  font-size: calc(var(--font) * 2.8);
  font-weight: 800;
}

h2 {
  font-size: calc(var(--font) * 2);
}

h3 {
  font-size: calc(var(--font) * 1.8);
}

h4 {
  font-size: calc(var(--font) * 1.6);
}

h5 {
  font-size: calc(var(--font) * 1.4);
}

h6 {
  font-size: calc(var(--font) * 1.2);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: calc(var(--font) * 1.6);
}

/* Content */

a,
a:hover {
  color: var(--blue);
  text-decoration: none;
}

a {
  border-bottom: 1px solid var(--blue);
}

a:hover {
  color: var(--black);
  border-bottom: 0;
}

p {
  margin-bottom: calc(var(--font) * 1.4);
}

/* Wrapper */

.wrapper {
  margin-left: calc(var(--font) * 2);
  margin-right: calc(var(--font) * 2);
}
