/* Helpers */

/* Divider */

.divider-24px {
  height: calc(var(--font-size) + 8px);
}

.divider-32px {
  height: calc(var(--font-size) + 16px);
}

.divider-48px {
  height: calc(var(--font-size) + 24px);
}

/* Align items */

.align__items_start {
  align-items: flex-start;
}

/* Media */

@media (width <= 480px) {
  .divider-24px {
    height: calc(var(--font-size) - 8px);
  }

  .divider-32px {
    height: var(--font-size);
  }

  .divider-48px {
    height: calc(var(--font-size) + 8px);
  }

  /* Only mobile: align content to center */
  .m__align__content_center {
    justify-content: center;
    text-align: center;
  }
}
