/* Checkbox */

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 16px;
  align-items: center;
  color: var(--black);
}

.checkbox > * {
  cursor: pointer;
}

/* Label: OFF */

.checkbox__label {
  display: flex;
  height: 40px;
  width: 56px;
  border-radius: 50px;
  background-color: var(--white);
  border: 3px solid var(--blue-light);
}

.checkbox__success > .checkbox__label {
  border-color: var(--green-light);
}

.checkbox__warning > .checkbox__label {
  border-color: var(--yellow-light);
}

.checkbox__danger > .checkbox__label {
  border-color: var(--red-light);
}

/* Circle: OFF */

.checkbox__circle {
  width: 34px;
  border-radius: 50px;
  background-color: var(--blue-light);
  border: 3px solid var(--white);
  transition-duration: 0.5s;
}

.checkbox__success > * > .checkbox__circle {
  background-color: var(--green-light);
}

.checkbox__warning > * > .checkbox__circle {
  background-color: var(--yellow-light);
}

.checkbox__danger > * > .checkbox__circle {
  background-color: var(--red-light);
}

/* Label: ON */

.checkbox__checked > .checkbox__label {
  background-color: var(--white);
  border: 3px solid var(--blue);
  justify-content: flex-end; /* Push the circle to the right */
}

.checkbox__checked.checkbox__success > .checkbox__label {
  border-color: var(--green);
}

.checkbox__checked.checkbox__warning > .checkbox__label {
  border-color: var(--yellow);
}

.checkbox__checked.checkbox__danger > .checkbox__label {
  border-color: var(--red);
}

/* Circle: ON */

.checkbox__checked > * > .checkbox__circle {
  background-color: var(--blue);
  border: 3px solid var(--white);
  transition-duration: 0.5s;
}

.checkbox__checked.checkbox__success > * > .checkbox__circle {
  background-color: var(--green);
}

.checkbox__checked.checkbox__warning > * > .checkbox__circle {
  background-color: var(--yellow);
}

.checkbox__checked.checkbox__danger > * > .checkbox__circle {
  background-color: var(--red);
}

/* Input (service) */

.checkbox__input {
  display: none;
}

/* Media */

@media (width <= 480px) {
  .checkbox {
    font-size: calc(var(--font-size) - 3px);
    column-gap: 8px;
  }

  .checkbox__label {
    height: 32px;
    width: 44px;
  }

  .checkbox__circle {
    width: 26px;
  }
}
