/* Footer */

.footer {
  background-color: var(--blue);
  color: var(--white);
  font-size: calc(var(--font-size) - 4px);
  line-height: calc(var(--font-size) - 2px);
  padding-bottom: 48px;
}

.footer a {
  border-bottom-color: var(--white);
  color: var(--white);
}

/* Footer wrapper */

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  column-gap: 24px;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */

.footer__logo > a {
  border-bottom: 0;
}

.footer__logo > a > img {
  width: 96px;
}

/* Nav */

.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 16px;
  align-items: center;
  justify-content: right;
}

/* Media */

@media (width <= 480px) {
  .footer {
    padding: 24px 8px;
  }

  .footer__wrapper {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .footer__logo {
    display: none;
  }

  .footer__nav {
    column-gap: 8px;
  }

  .footer__copyright,
  .footer__nav {
    text-align: center;
    justify-content: center;
  }
}
