.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: calc(var(--font) * 1.2);
  padding: var(--font) calc(var(--font) * 2.4);
  border-radius: calc(var(--font) * 2);
  background: none;
  border: 0;
  cursor: pointer;
  /* outline: none; */
  font-weight: 600;
}

.icon {
  padding-left: var(--font);
  width: var(--font);
}

/* Color: blue */

.blue {
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: var(--white);
  outline-color: var(--blue);
}

.blue:hover {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

/* Color: red */

.red {
  background-color: var(--red);
  border: 2px solid var(--red);
  color: var(--white);
}

.red:hover {
  background-color: var(--dark-red);
  border-color: var(--dark-red);
}

/* Color: green */

.green {
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
}

.green:hover {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

/* Outline */

.blue.outline {
  background-color: var(--white);
  border: 2px solid var(--blue);
  color: var(--blue);
}

.blue.outline:hover {
  color: var(--white);
  background-color: var(--blue);
}

.red.outline {
  background-color: var(--white);
  border: 2px solid var(--red);
  color: var(--red);
}

.red.outline:hover {
  color: var(--white);
  background-color: var(--red);
}

.green.outline {
  background-color: var(--white);
  border: 2px solid var(--green);
  color: var(--green);
}

.green.outline:hover {
  color: var(--white);
  background-color: var(--green);
}

/* Full width */

.fullwidth {
  margin: 0 auto;
  width: 80%;
}
