/* UI: Input */

.field {
  margin-bottom: calc(var(--font) * 1.2);
}

.group {
  margin-top: calc(var(--font) / 1.4);
  position: relative;
}

.input,
.label {
  font-size: calc(var(--font) * 1.2);
}

.input {
  width: 100%;
  border: 2px solid var(--opacity-blue);
  border-radius: calc(var(--font) / 2);
  padding: var(--font) calc(var(--font) + 10px);
  background-color: var(--light-blue);
}

.input:focus {
  border: 2px solid var(--blue);
  background-color: var(--white);
  box-shadow: 0 0 0 3px var(--blue);
  outline: 3px solid transparent;
}

.icon {
  position: absolute;
  right: var(--font);
  top: 50%;
  width: calc(var(--font) * 1.8);
  height: calc(var(--font) * 1.8);
  transform: translate(0, -50%);
  fill: var(--opacity-blue);
  z-index: 2;
}

.group.success .input {
  background-color: var(--light-green);
  border: 2px solid var(--opacity-green);
}

.group.success .input:focus {
  background-color: var(--white);
  box-shadow: 0 0 0 3px var(--green);
  outline: 3px solid transparent;
}

.group.success .icon {
  fill: var(--opacity-green);
}

.group.error .input {
  background-color: var(--light-red);
  border: 2px solid var(--opacity-red);
}

.group.error .input:focus {
  background-color: var(--white);
  box-shadow: 0 0 0 3px var(--red);
  outline: 3px solid transparent;
}

.group.error .icon {
  fill: var(--opacity-red);
}

/* Error validation */

.error_text {
  color: var(--red);
  font-size: var(--font);
  background-color: var(--smoke-white);
  margin: 0 calc(var(--font) / 2);
  padding: var(--font);
  border: 2px solid var(--opacity-red);
  border-top: 0;
  border-radius: 0 0 calc(var(--font) / 2) calc(var(--font) / 2);
}
