/* UI: Input */

.field {
  margin-bottom: calc(var(--font) * 1.2);
}

.field p {
  padding-left: calc(var(--font) - 6px);
  margin-bottom: calc(var(--font) - 8px);
}

.input,
.label {
  font-size: calc(var(--font) * 1.2);
}

.input {
  width: 100%;
  border: 1px solid var(--smoke-gray);
  border-radius: calc(var(--font) - 4px);
  padding: var(--font) calc(var(--font) + 10px);
  background-color: var(--smoke-white);
}

.input:focus {
  outline: none;
  border: 1px solid var(--black);
  box-shadow: 0 0 calc(var(--font)) var(--gray);
}
