/* UI: Input */

.field {
  margin-bottom: calc(var(--font) * 1.2);
}

.group {
  margin-top: calc(var(--font) / 1.4);
  position: relative;
}

.input,
.label {
  font-size: calc(var(--font) * 1.2);
}

.input {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: calc(var(--font) / 2);
  padding: var(--font) calc(var(--font) + 10px);
  background-color: var(--smoke-white);
}

.input:focus {
  outline: none;
  border: 1px solid var(--smoke-gray);
  box-shadow: 0 0 calc(var(--font)) var(--gray);
}

.icon {
  position: absolute;
  right: var(--font);
  top: 50%;
  width: calc(var(--font) * 1.8);
  height: calc(var(--font) * 1.8);
  transform: translate(0, -50%);
  fill: var(--smoke-gray);
  z-index: 2;
}
