/* UI: Logo */

.logo {
  font-size: calc(var(--font) * 2.6);
  font-weight: 700;
}

a.logo,
a.logo:hover {
  color: var(--black);
  text-decoration: none;
  border-bottom: 0;
}

.opinion {
  color: var(--blue);
}

.dot {
  color: var(--red);
}
