/* Block label */

.block > .block_label {
  color: var(--blue-light);
  font-size: calc(var(--font-size) + 2px);
  font-weight: 500;
  margin-bottom: 8px;
}

/* Type: title */

.block > .block_title {
  font-size: calc(var(--font-size) + 12px);
  line-height: calc(var(--font-size) + 12px);
}

/* Type: reward */

.block > .block_reward {
  font-size: calc(var(--font-size) + 8px);
  line-height: calc(var(--font-size) + 8px);
  font-weight: 500;
}

.block > .block_reward > span {
  color: var(--green);
  font-weight: 700;
}

/* Media */

@media screen and (max-width: 320px) {
  .block > .block_title {
    font-size: calc(var(--font-size) + 8px);
    line-height: calc(var(--font-size) + 8px);
  }
}
