/* Block label */

.block__label {
  color: var(--blue-light);
  font-size: calc(var(--font-size) + 2px);
  font-weight: 500;
  margin-bottom: 8px;
}

/* Type: title */

.block__title {
  font-size: calc(var(--font-size) + 12px);
  line-height: calc(var(--font-size) + 12px);
  font-weight: 500;
}

/* Type: reward */

.block__reward {
  font-size: calc(var(--font-size) + 8px);
  line-height: calc(var(--font-size) + 8px);
  font-weight: 500;
}

.block__reward > span {
  color: var(--green);
  font-weight: 700;
}

/* Type: author */

.block__author {
  display: grid;
  column-gap: 16px;
  grid-template-columns: min-content auto;
  align-items: center;
}

.block__author > img {
  width: 72px;
  border-radius: 50%;
  border: 3px solid var(--gray);
}

.block__author > * > strong {
  font-size: calc(var(--font-size) + 4px);
}

/* Type: locked tasks */

.block__locked_tasks {
  display: grid;
  column-gap: 16px;
  grid-template-columns: min-content 2fr auto;
  align-items: center;
}

.block__locked_tasks > img {
  width: 56px;
}

.block__locked_tasks > div {
  font-size: calc(var(--font-size) + 4px);
}

/* Media */

@media (width <= 480px) {
  .block__title {
    font-size: calc(var(--font-size) + 8px);
    line-height: calc(var(--font-size) + 8px);
  }

  .block__locked_tasks {
    row-gap: 16px;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "img text"
      "button button";
  }

  .block__locked_tasks > img {
    grid-area: img;
    width: 48px;
  }

  .block__locked_tasks > div {
    grid-area: text;
    font-size: var(--font-size);
  }

  .block__locked_tasks > button {
    grid-area: button;
  }
}
