/* Button */

button {
  border: 3px solid var(--gray);
  padding: 18px 36px;
  border-radius: 24px;
  font-size: calc(var(--font-size) + 4px);
  line-height: calc(var(--font-size) + 4px);
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background-color: var(--blue-dark);
}

/* Secondary button */

.button__secondary {
  border: 3px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
}

.button__secondary:hover {
  border: 3px solid var(--blue-dark);
  background-color: var(--blue-dark);
  color: var(--white);
}

/* Success */

.button__success {
  background-color: var(--green);
  color: var(--white);
}

.button__success:hover {
  background-color: var(--green-dark);
}

/* Warning */

.button__warning {
  background-color: var(--yellow);
  color: var(--white);
}

.button__warning:hover {
  background-color: var(--yellow-dark);
}

/* Danger */

.button__danger {
  background-color: var(--red);
  color: var(--white);
}

.button__danger:hover {
  background-color: var(--red-dark);
}

/* Media */

@media (width <= 480px) {
  button {
    font-size: calc(var(--font-size) + 1px);
    line-height: calc(var(--font-size) + 1px);
  }
}
