.header {
  display: flex;
  margin-top: calc(var(--font) * 2);
  margin-bottom: calc(var(--font));
  padding: var(--font);
  /* Content is centered horizontally */
  align-items: center;
}

.menu {
  /* Sticks to the left */
  margin-left: auto;
}
