/* Register form style */

.form {
  font-size: calc(var(--font) * 1.2);
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  flex: 1;
}

.item.left {
  margin-right: auto;
}

.item.right {
  margin-left: auto;
}
